<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h1 class="logo">aHUB</h1>
            <p>
                Dive into aHUB: Crafting Web Excellence with a Twist! Explore websites that stand out, blending innovation with style. Supercharge your online game while we redefine the art of web development and blogging. 
            </p>
            <p>
                <i class='bx bx-phone'></i> &nbsp;  +256 740 384876
                <br>
                <i class='bx bx-envelope'></i> &nbsp; asiomizunoah@gmail.com
            </p>
            
        </div>
        <div class="footer-section links">
            <h2>Frequently asked Questions</h2>
            <br>
            <ul>
                <% faqs.forEach(faq => { %>
                    <li><a href="/faqs/<%= faq._id %>"><%= faq.qstn %></a></li>
                <% }); %>
            </ul>
        </div>
        <div class="footer-section contact-form">
            <h2>Contact us</h2>
            <br>
            <form action="/send-email" method="post">
                <div class="input-box">
                    <input type="email" name="email" placeholder="Your email address....">
                </div>
                <div class="input-box">
                    <textarea name="message" placeholder="Your message........"></textarea>
                </div>
                <button class="btn" type="submit">Send</button>
            </form>
            
        </div>
    </div>

    <div class="center">
        <div class="t-policy">
            <span><a href="/aboutus">Responsible Travel Policy</a></span>
        </div>
        <div class="p-policy">
            <span><a href="/aboutus">Privacy Policy</a></span>
        </div>
        <div class="socials">
            <a href="https://www.facebook.com/asio.noah" target="_blank"><i class='bx bxl-facebook'></i></a>
            <a href="https://twitter.com/asizynoah" target="_blank"><i class='bx bxl-twitter'></i></a>
            <a href="https://www.youtube.com/channel/UCPr4eONoW3N1JmlwC82buzA" target="_blank"><i class='bx bxl-youtube'></i></a>
            <a href="https://www.linkedin.com/in/asiomizu-noah-19b91127a" target="_blank"><i class='bx bxl-linkedin'></i></a>
        </div>
    </div>
    
    <div class="footer-btm">
        <div class="footer-iconTop">
            <a href="#top"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
        <div class="footer-text">
            <p>Copyright &copy; <%= new Date().getFullYear(); %> by Asizy | All rights Reserved.</p>
        </div>
    </div>
    
</footer>